@model List<SmartKitchen.Models.StorageType>
@{
    ViewBag.Title = "New storage";
    int item = ViewBag.Selected != null ? ViewBag.Selected : 0;
}
<div class="row justify-content-between m-0">
    <h4>New storage</h4>
    @Html.ActionLink("Back", "Index", "Storage", new { @class = "btn btn-secondary" })
</div>
<div class="row justify-content-center">
    @using (Html.BeginForm("Create", "Storage", FormMethod.Post, new { @class = "storage big-border col-lg-8" }))
    {
        @Html.AntiForgeryToken()
        <div class="row justify-content-center py-2">
            <div class="text-center col-md-2 col-12 py-1">Type</div>
            <select id="TypeName" class="input col-md-7 col-9" onchange="change()"></select>
            @Html.Hidden("Type")
            <div class="text-center col-md-3 col-6 mt-md-0 mt-3">
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit types", "CreateType", "Storage", new { @class = "btn btn-main w-100 py-1" })
                }
            </div>
            <div class="error col-12">@Html.ValidationMessage("Type")</div>
        </div>
        <div class="row justify-content-center py-2">
            <div class="col-md-2 col-12">
                <div class="row justify-content-md-end justify-content-center">
                    <div class="py-1">Name</div>
                    <img class="rowicon" id="Icon" />
                </div>
            </div>
            @Html.Editor("Name", new { htmlAttributes = new { @class = "col-md-7 col-9" } })
            <div class="col-md-3 mt-md-0 mt-3 col-6"><input type="submit" value="Create" class="btn btn-main py-1" /></div>
            <div class="error col-12">@Html.ValidationMessage("Name")</div>
        </div>
    }
</div>
@section scripts{
    <script>
		var list;

		function change() {
			var id = $('#TypeName').val();
			$("#Name").val(list[id].Name);
            $("#Type").val(list[id].Id);
            $("#Icon").attr("src", "../Content/images/" + id + ".png");
			$("form").css("background", list[id].Color);
		}

		$(function () {
			list = [];
			@foreach (var i in Model)
			{
				<text>
				list[@i.Id] = {
					Name: "@i.Name",
					Color: "#@i.Background",
					Id: "#@i.Id"
				}
				$('#TypeName').append($("<option></option>").val(@i.Id).text("@i.Name"));
				</text>
				if (i.Id == item || item==0 && i == Model.First())
				{
					<text>
					$('#TypeName').val(@i.Id);
					change();
					</text>
				}
			}

		});
    </script>
}
