@model List<SmartKitchen.Domain.Enitities.StorageType>
@{
    ViewBag.Title = "Storage types";
}
<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-2 col-md-3 col-4 px-1">
                    <div class="storage-small pointer row justify-content-around px-2 py-1" style="background-color: #@item.Background" onclick='StorageCreateTypeJs.updateForm(@item.Id,"@item.Name","@item.Background");'>
                        @{ var filename = item.Id + ".png";}
                        <img class="rowicon" src="~/Content/images/@filename" />
                        @Html.Hidden("name_" + item.Id, item.Name)
                        <img class="rowicon" src="~/Content/images/remove.svg" onclick="StorageCreateTypeJs.remove(@item.Id)" />
                    </div>
                </div>
            }
            <div class="col-lg-2 col-md-3 col-4 px-1">
                <div class="storage-small row py-1" onclick="StorageCreateTypeJs.updateForm(0,'','FFFFFF');"><div class="col text-center">Clear</div></div>
            </div>
        </div>

        @using (Html.BeginForm("CreateType", "Storage", FormMethod.Post, new { @class = "storage justify-content-center mx-0", enctype = "multipart/form-data", id = "storage" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Id", 0)
            <div class="row justify-content-center py-2">
                <div class="col-md-2 text-md-center">Name</div>
                <div class="col-md-10">@Html.Editor("Name")</div>
                <div class="error col-12">@Html.ValidationMessage("Name")</div>
            </div>
            <div class="row justify-content-center py-2">
                <div class="col-md-2 text-md-center">Icon</div>
                <div class="col-md-10">
                    <div class="row m-0 p-0">
                        @Html.TextBox("Icon", "", new { type = "file", id = "upload", @class = "d-none" })
                        <span id="uploadBtn" class="btn-main btn py-0 col-lg-4 col-5 text-nowrap font-weight-normal">Pick image</span>
                        @Html.TextBox("UploadStatus", "", new { @readonly = "readonly", @class = "col-7 col-lg-8" })
                    </div>
                </div>
                <div class="error col-12">@Html.ValidationMessage("Icon", new { id = "IconError" })</div>
            </div>
            <div class="row justify-content-center py-2">
                <div class="col-md-2 text-md-center">Color</div>
                <div class="col-md-10">@Html.TextBox("Background", "FFFFFF", new { @readonly = "readonly" })</div>
                <div class="error col-12">@Html.ValidationMessage("Background")</div>
            </div>
            <div class="row justify-content-center py-2">
                <div class="text-center col-6"><input type="submit" id="submit" value="Create" class="btn btn-main" /></div>
            </div>
        }
        <div id="pickerDiv" class="row justify-content-center" style="display: none;">
            <div class="storage col-lg-6 col-12 mt-0">
                <canvas id="picker" class="w-100"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StorageTypeModal" tabindex="-1" role="dialog" aria-labelledby="StorageTypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="StorageTypeLabel"></div>
            <div class="modal-body pt-0">
                <div class="row justify-content-center mx-3 text-center">
                    @foreach (var i in Model)
                    {
                        <div id="modal_@i.Id" class="col-md-3 col-5 btn btn-main m-1" data-dismiss="modal" onclick="StorageCreateTypeJs.removeConfirm(@i.Id);"></div>
                    }
                    <div class="col-12"></div>
                    <button data-dismiss="modal" class="btn btn-secondary col-md-4 col-6 m-1">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/js/storageCreateType")
    <script>
    $(function () {
        StorageCreateTypeJs.initialize({
            removeUrl: '@Url.Action("RemoveType", "Storage")?fromId=',
            list: [@string.Join(", ", Model.Select(x => x.Id))]
        });
    });
    </script>
}