@model List<SmartKitchen.Domain.DisplayModels.StorageDisplayModel>
@{
    ViewBag.Title = "My storages";
}
<div class="row">
    @foreach (var item in Model)
    {
        <a class="col-12 col-lg-6 text-decoration-none text-dark" href="@Url.Action("View", "Storage", new {id = item.Id})">
            <div class="storage row justify-content-between" style="background-color: #@item.Type.Background">
                @{ var filename = item.Type.Id + ".png";}
                <img class="rowicon" src="~/Content/images/@filename"/>
                <div class="col h4 m-0" id="name_@item.Id">
                    @item.Name
                </div>
                <img class="rowicon" src="~/Content/images/edit.png" onclick="StorageIndexJs.showModal(@item.Id)" data-toggle="modal" data-target="#StorageNameModal"/>
                <img class="rowicon" src="~/Content/images/remove.svg" onclick="StorageIndexJs.remove('@item.Name', @item.Id)"/>
            </div>
        </a>
    }
    <a class="col-12 col-lg-6 text-decoration-none text-light" href="@Url.Action("Create", "Storage")">
        <div class="storage bg-main row justify-content-between">
            <img class="navicon" src="~/Content/images/add.png" alt="Add"/>
            <div class="col h4 m-0">New storage</div>
        </div>
    </a>
</div>
@Html.Partial("_UpdateStorageName")
@section scripts
{
    @Scripts.Render("~/js/storageIndex")
    <script>
        $(function () {
            StorageIndexJs.initialize({
                removeUrl: '@Url.Action("Delete", "Storage")/',
                updateUrl: '@Url.Action("UpdateName","Storage")/'
            });
        });
    </script>
}
