@model List<SmartKitchen.Models.StorageType>
@{
	ViewBag.Title = "New storage";
	var selectList = new SelectList(Model.Select(x => x.Name));
}
<div class="row justify-content-between m-4">
	<h4>New storage</h4>
	@Html.ActionLink("Back", "Index", "Storage", new { @class = "btn btn-secondary" })
</div>
@using (Html.BeginForm("Create", "Storage", FormMethod.Post, new { @class = "storage big-border" }))
{
	@Html.AntiForgeryToken()
	<div class="row justify-content-between py-2">
		<div class="text-center col-md-2 col-12">Type</div>
		@Html.DropDownList("TypeName", selectList, new { @class = "input col-md-8 col-12" })
		@Html.Hidden("Type")
		<div class="text-center col-md-2">
			@if (HttpContext.Current.User.IsInRole("admin"))
			{
				@Html.ActionLink("Edit types", "CreateType", "Storage", new { @class = "btn btn-main w-100" })

			}
		</div>
		<div class="error col-12">@Html.ValidationMessage("TypeName")</div>

	</div>
	<div class="row justify-content-between py-2">
		<div class="col-md-2 col-12">
			<div class="row justify-content-center">
				<div id="IconPre"></div>
				<div>Name</div>
			</div>
		</div>
		@Html.Editor("Name", new { htmlAttributes = new { @class = "col-md-8 col-12" } })
		<div class="col-md-2"><input type="submit" value="Create" class="btn btn-main" /></div>
		<div class="error col-12">@Html.ValidationMessage("Name")</div>


	</div>
}
@section scripts{
	<script>
		var list;
		$(function () {
			list = [];
			@for (int i=0; i<Model.Count; i++)
			{
				<text>list.push({
				Name: "@Model[i].Name",
				Color: "#@Model[i].Background",
				Id: "#@Model[i].Id",
				Icon: "@Model[i].Icon"
				})</text>
				if (i == 0)
				{
					<text>
					$("#Name").val($("#TypeName option:selected").val());
					$("form").css("background", list[$("#TypeName")[0].selectedIndex].Color);
					$("#IconPre").addClass(list[$("#TypeName")[0].selectedIndex].Icon);
 					</text>
				}
			}
			$("#TypeName").change(function () {
				$("#Name").val($("#TypeName option:selected").val());
				$("#Type").val(list[$("#TypeName")[0].selectedIndex].Id);
				$("form").css("background", list[$("#TypeName")[0].selectedIndex].Color);
				$('#IconPre').removeClass();
				$("#IconPre").addClass(list[$("#TypeName")[0].selectedIndex].Icon);
			});

		});
	</script>
}
