@model List<SmartKitchen.Models.StorageType>
@{
	ViewBag.Title = "New storage";
	var selectList = new SelectList(Model.Select(x=>x.Name));
}
<div class="row justify-content-between m-4">
	<h4>New storage</h4>
	@Html.ActionLink("New type", "CreateType", "Storage", new { @class = "btn btn-main " })
	@Html.ActionLink("Back", "Index", "Storage", new { @class = "btn btn-secondary" })
</div>
@using (Html.BeginForm("Create", "Storage", FormMethod.Post, new { @class = "storage" }))
{
	@Html.AntiForgeryToken()
	<div class="row justify-content-between">
		<div class="col-3">
			<div class="text-center">Type</div>
			@Html.DropDownList("Type", selectList, new{@class="input"})
			<div class="error">@Html.ValidationMessage("Type")</div>
		</div>
		<div class="col-4">
			<div class="text-center">Name</div>
			<div>@Html.Editor("Name")</div>
			<div class="error">@Html.ValidationMessage("Name")</div>
		</div>
		<div class="col-3">
			<br />
			<input type="submit" value="Create" class="btn btn-main" />
		</div>
	</div>
}