@model SmartKitchen.Models.StorageDescription
@{
	ViewBag.Title = Model.Name;
}
<div class="my-4 h4 text-center">@ViewBag.Title</div>
<div class="row justify-content-center my-4">
	<div class="col-9">
		@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "row" }))
		{
			<div class="col-8">@Html.Editor("Name")</div>
			<div class="col-4"><input type="submit" value="Add" class="btn btn-main" /></div>
		}
	</div>
</div>
<div class="storage" style="background-color: #@Model.Type.Background">
@if (Model.Products.Count == 0)
{
	<div class="text-center alert m-0 h2">This storage is empty now</div>
}
else
{
		<div class="row font-weight-bold">
			<div class="col-4">Name</div>
			<div class="col-4">Safety</div>
			<div class="col-4">Status</div>
		</div>
		foreach (var product in Model.Products)
		{
			<div class="row">
				<div class="col-4">@product.Product.Name</div>
				<div class="col-4">@product.Safety</div>
				<div class="col-4">@product.Status</div>
			</div>
		}
}
</div>
