@model SmartKitchen.Models.StorageDescription
@{
	ViewBag.Title = Model.Name;
}
<div class="my-4 h4 text-center">@ViewBag.Title</div>
<div class="row justify-content-center my-4">
	<div class="col-9">
		@{ Html.RenderAction("_AddProduct", "Product", new { storage = Model.Id });}
	</div>
</div>
<div class="storage text-center" style="background-color: #@Model.Type.Background">
	@if (Model.Products.Count == 0)
	{
		<div class="alert m-0 h2">This storage is empty now</div>
	}
	else
	{
		<table class="w-100 table table-hover table-borderless m-0">
			<tr>
				<th style="width: 20%;">Name</th>
				<th style="width: 20%;">Category</th>
				<th style="width: 20%;">Safety</th>
				<th style="width: 20%;">Amount</th>
				<th style="width: 20%;"></th>
			</tr>
			@foreach (var product in Model.Products)
			{
				<tr id="@product.Status.Id">
					<td class="font-weight-bold">@product.Product.Name</td>
					<td>@product.Category.Name</td>
					<td id="SafetyNotify_@product.Status.Id">
						<div class="font-weight-bold bg alert-@product.SafetyNotify.Type">@product.SafetyNotify.Content</div>
					</td>
					<td id="AmountNotify_@product.Status.Id">
						<div class="font-weight-bold bg alert-@product.AmountNotify.Type">@product.AmountNotify.Content</div>
					</td>
					<td class="font-weight-bold">
						<button onclick="changeProductAmount(@product.Status.Id,1);" class="d-inline btn p-0 btn-main">➕</button>
						<button onclick="changeProductAmount(@product.Status.Id,-1);" class="d-inline btn p-0 btn-main">➖</button>
						<button onclick="removeProduct(@product.Status.Id,'@product.Product.Name');" class="d-inline btn p-0 btn-main">❌</button>
					</td>
				</tr>
			}
		</table>
	}
</div>
@section scripts{
	<script>
		function changeProductAmount(product, amount) {
			$.ajax({
				url: '@Url.Action("Change", "Product")?productstatus=' + product + '&amount=' + amount,
				success: function(data) {
					document.getElementById("AmountNotify_" + product).innerHTML = data;
				}
			});
		}

		function removeProduct(product, name) {
			if (confirm(name + " will be deleted")) {
				$.ajax({
					url: '@Url.Action("Remove", "Product")?productstatus=' + product,
					success: function() {
						document.getElementById(product).outerHTML = "";
					}
				});
			}
		}
	</script>
}
