<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smart Storages System">
    <meta name="author" content="Vladimir Andrejev">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css")
</head>
<body class="p-0">
    @Html.Partial("_Navbar")
    <main class="container">
        @RenderBody()
    </main>
    @Scripts.Render("~/core")
    @RenderSection("scripts", false)
</body>
</html>