<div class="container-fluid bg-main p-0 fixed-top">
    <div class="container p-0">
        <nav class="navbar py-1 font-weight-bold navbar-expand justify-content-md-around navbar-dark">
            <div class="collapse navbar-collapse justify-content-center" id="nav">
                @{ var authed = Request.IsAuthenticated;}
                
                <ul class="navbar-nav flex-fill w-100 flex-nowrap justify-content-start d-none d-md-flex">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-light">
                            <div class="d-md-inline d-none">Home</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@(authed ? Url.Action("Index", "Storage") : "")" class="nav-link text-light">
                            <div class="d-md-inline d-none">Storages</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@(authed ? Url.Action("Index", "Basket" ) : "")" class="nav-link text-light">
                            <div class="d-md-inline d-none">Basket</div>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-fill w-100 flex-nowrap justify-content-md-end justify-content-around">
                    <li class="d-md-none nav-item">
                        <a href="@Url.Action("Index", "Home")" class="nav-link text-light">
                            <img class="navicon" src="@Url.Content("~/Content/images/home.svg")"/>
                        </a>
                    </li>
                    <li class="d-md-none nav-item">
                        <a href="@(authed ? Url.Action("Index", "Storage") : "")" class="nav-link text-light">
                            <img class="navicon" src="@Url.Content("~/Content/images/storages.svg")" />
                        </a>
                    </li>
                    <li class="d-md-none nav-item">
                        <a href="@(authed ? Url.Action("Index", "Basket" ) : "")" class="nav-link text-light">
                            <img class="navicon" src="@Url.Content("~/Content/images/basket.png")" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("About", "Home")" class="nav-link text-light">
                            <div class="d-md-inline d-none">Guide</div>
                            <img class="d-md-none navicon" src="@Url.Content("~/Content/images/guide.png")" />
                        </a>
                    </li>
                    @if (authed)
                    {
                        if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light" id="dmb" data-toggle="dropdown">
                                    <div class="d-md-inline d-none d-md-inline">Admin</div>
                                    <img class="d-md-none navicon" src="@Url.Content("~/Content/images/admin.png")" />
                                </a>
                                @Html.Partial("_Admin")
                            </li>
                        }
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()">
                                <div class="d-md-inline d-none">Log out</div>
                                <img class="d-md-none navicon" src="@Url.Content("~/Content/images/logout.png")" />
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Account")" class="nav-link text-light">
                                <div class="d-md-inline d-none">Log in</div>
                                <img class="d-md-none navicon" src="@Url.Content("~/Content/images/login.png")" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>