@model SmartKitchen.Domain.DisplayModels.BasketDisplayModel
<tr id="@Model.Id" class="row flex-nowrap pointer" 
    onclick="window.location = '@Url.Action("View","Basket",new{id = Model.Id})';">
    <td class="col">@Model.Name</td>
    <td class="col">@Model.BoughtProducts/@Model.Products<span class="d-md-inline d-none"> products</span></td>
    <td class="col">@Model.CreationDate.ToString("dd.MM.yy")</td>
    <td class="col-md-1 col-2">
        <img src="@Html.Raw( Model.Closed ? "../Content/images/remove.svg" : "../Content/images/lock.svg")"
             onclick="@Html.Raw( !Model.Closed ? "lock("+Model.Id+", '"+Model.Name+"')" : "remove("+Model.Id+", '"+Model.Name+"')")"
             class="rowicon h-75" />
    </td>
</tr>
