@model SmartKitchen.Domain.DisplayModels.BasketProductDisplayModel
<tr id="@Model.Id">
    <td class="@( Model.Bought ? "bought" : "" )">@Model.ProductName</td>
    <td>@Model.BestBefore</td>
    <td>@Model.Amount.ToString("")</td>
    <td>@Model.Price</td>
    <td>@Model.Cell</td>
</tr>
