@model SmartKitchen.Domain.DisplayModels.BasketWithProductsDisplayModel
@{
    ViewBag.Title = "Basket " + Model.Name;
}
<div class="h4 text-center">@Model.Name</div>
@if (Request.IsAuthenticated)
{
    Html.RenderAction("CreateProduct", new { basket = Model.Id });
}
<div class="text-center table-responsive m-0 bg-main-light">
    @if (Model.BasketProducts.Count == 0)
    {<div class="alert m-0 h3">This basket is empty now</div>}
    else
    {@Html.AjaxGrid(Url.Action("BasketProductGrid", new { id = Model.Id }))}
</div>
@if (Model.BasketProducts.Count != 0)
{<button class="btn btn-success float-right m-2 px-3 @(Model.BasketProducts.Any() ? "" : "disabled")">Finish and close</button>}
@Html.Partial("_AmountPicker")
@Html.Partial("_DatePicker")
@Scripts.Render("~/MvcGrid")
@section scripts{
    @Scripts.Render("~/js/datetimePicker")
    @Scripts.Render("~/js/amountPicker")
    @Scripts.Render("~/js/basketView")
    <script>
        $(function () {
            $(function () {
                BasketViewJs.initialize({updUrl: '@Url.Action("MarkProductBought", "Basket")'});
                DatetimePickerJs.initialize({url: '@Url.Action("DateUpdate", "Basket")?id='});
                AmountPickerJs.initialize({
                    deleteUrl: '@Url.Action("RemoveBasketProduct", "Basket")?id=',
                    setUrl: '@Url.Action("SetAmount", "Basket")?id='
                });
            });
        });

    </script>
}