@using SmartKitchen.Enums
@model SmartKitchen.Models.ProductDescription
@{bool ChangeableDate = Model.Cell.Amount != Amount.None;}

<tr id="@Model.Cell.Id">
    <td class="font-weight-bold" id="name_@Model.Cell.Id">@Model.Product.Name</td>
    <td>@Model.Category.Name</td>

    <td @if (ChangeableDate) { 
            @: onclick="showDatePicker(@Model.Cell.Id,'@Model.Product.Name')"
        }>
        <div class="safety-@Model.Notification.Type" 
             @if (ChangeableDate){
                 @: data-toggle="modal" data-target="#DateModal"
             }>@Model.Notification.SafetyInfo</div>
    </td>

    <td data-toggle="modal" data-target="#AmountModal" onclick="showAmountPicker(@Model.Cell.Id)">@Model.Notification.AmountInfo</td>
</tr>