@using SmartKitchen.Domain.CreationModels
@model List<SmartKitchen.Domain.DisplayModels.CategoryDisplay>
@{
    ViewBag.Title = "Categories";
}
@Html.Partial("_AddNew", new NameCreationModel())
<div class="row justify-content-center m-0">
    <div class="storage-new mb-2 col-lg-7 p-0">
        @Html.AjaxGrid(Url.Action("CategoryGrid", Model))
    </div>
</div>

<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content big-border">
            <div class="modal-header text-center d-block h5" id="CategoryModalLabel"></div>
            <div class="modal-body pt-0">
                <div class="row justify-content-center mx-3 text-center">
                    @foreach (var i in Model)
                    {
                        <div id="modal_@i.Id" class="col-md-3 col-5 btn btn-main m-1" data-dismiss="modal" onclick="CategoryIndexJs.removeConfirm(@i.Id);"></div>
                    }
                    <div class="col-12"></div>
                    <button data-dismiss="modal" class="btn btn-secondary col-md-4 col-6 m-1">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/MvcGrid")
    @Scripts.Render("~/js/categoryIndex")
<script>
    $(function () {
        CategoryIndexJs.initialize({
            removeUrl: '@Url.Action("Remove", "Category")?fromId=',
            list: [@string.Join(", ", Model.Select(x => x.Id))]
        });
    });
</script>
}