@model SmartKitchen.Domain.CreationModels.SignInModel
@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "formSignIn" }))
{
    @Html.AntiForgeryToken()
    <h3 class="text-center m-3">Registered user</h3>
    <div>@Html.DisplayFor(x => x.Email)</div>
    <div>@Html.EditorFor(x => x.Email)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Email)</div>
    <div>@Html.DisplayFor(x => x.Password)</div>
    <div>@Html.PasswordFor(x => x.Password)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Password)</div>
    <div class="text-center"><button type="submit" class="w-75 btn btn-main py-2 mt-3">Sign in</button></div>
}