@model SmartKitchen.Domain.DisplayModels.SignUpModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "formSignUp" }))
{
    @Html.AntiForgeryToken()
    <h3 class="text-center m-3">New user</h3>
    <div>@Html.DisplayFor(x => x.Email)</div>
    <div>@Html.EditorFor(x => x.Email)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Email)</div>
    <div>@Html.DisplayFor(x => x.Username)</div>
    <div>@Html.EditorFor(x => x.Username)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Username)</div>
    <div>@Html.DisplayFor(x => x.Password)</div>
    <div>@Html.PasswordFor(x => x.Password)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Password)</div>
    <div>@Html.DisplayFor(x => x.Confirm)</div>
    <div>@Html.PasswordFor(x => x.Confirm)</div>
    <div class="error">@Html.ValidationMessageFor(x => x.Confirm)</div>

    <div class="text-center"><button type="submit" class="w-75 btn btn-main py-2 mt-3">Sign up</button></div>
}