@model SmartKitchen.Domain.CreationModels.SignInModel
@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "formSignIn", @class = "storage" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center mb-3">Registered user</h4>

    <div class="row my-2 justify-content-around">
        <div class="error col-12">@Html.ValidationSummary(true)</div>
    </div>

    <div class="row my-2 justify-content-around">
        <div class="col-md-2 text-center">@Html.LabelFor(x => x.Email)</div>
        <div class="col-md-9">@Html.EditorFor(x => x.Email)</div>
        <div class="error col-12">@Html.ValidationMessageFor(x => x.Email)</div>

    </div>
    <div class="row my-2 justify-content-around">
        <div class="col-md-2 text-center">@Html.LabelFor(x => x.Password)</div>
        <div class="col-md-9">@Html.PasswordFor(x => x.Password)</div>
        <div class="error col-12">@Html.ValidationMessageFor(x => x.Password)</div>
    </div>

    <div class="row justify-content-center"><button type="submit" class="col-md-3 col-6 btn btn-main py-2 mt-3">Sign in</button></div>
}
